[Unit]
Description=Weather Telegram Bot
After=network.target

[Service]
Type=simple
# Укажи своего пользователя на сервере (ubuntu, root, deployer и т.д.)
User=root
WorkingDirectory=/root/weatherapp
ExecStart=/root/weatherapp/.venv/bin/python -m bot
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
